extends layout

block content
  main
    section.mindset-dictionary-lettercategory
      article.mindset-dictionary-letterlist
        h2= leadpost.posttopic
        .new-term-button#add-new-term
          span
            i.far.fa-plus-circle
          span Add New Term
        .response-message-container
        .new-term-container
          form.new-term-form
            .form-text-input
              label(for='new-dictionary-term') New Dictionary Term
              br
              input#new-dictionary-term(type='text', name='new-dictionary-term')
              br
              br
              label(for='new-term-synonyms') New Term Synonyms
              br
              input#new-term-synonyms(type='text', name='new-term-synonyms')
              br
              label(for='new-term-related') New Related Terms
              br
              input#new-term-related(type='text', name='new-term-related')
            .form-textarea-input
              label(for='new-term-def') New Term Definition
              br
              textarea#new-term-def(type='text', name='new-term-def')
              br
              span.new-term-submit Submit
              span.new-term-cancel Cancel
        each l in letterlisting
          .mindset-photo-definition(id=`${l.termquick}`,
            data-id=`${l._id}`,
            data-term=`${l.term}`,
            data-termquick=`${l.termquick}`,
            data-definition=`${l.definition}`,
            data-synonyms=`${l.synonyms}`,
            data-relatedterms=`${l.relatedterms}`)
            h3= l.term
            if l.term !== ''
              span.confirm-delete-term(data-id=`${l.id}`) Confirm
              span.cancel-delete-term Cancel
              span.delete-photo-term
                i.fas.fa-trash-alt
              span.edit-photo-term
                i.fas.fa-pencil
            p= l.definition
            if l.relatedterms[0].relatedterm
              h5 Related Terms
              each t in l.relatedterms
                a(href=`/dictionary/${t.relatedquick}`)= t.relatedterm
        .edit-term-container
          form.edit-term-form
            .form-text-input
              label(for='edit-dictionary-term')
              br
              input#edit-dictionary-term(type='text', name='edit-dictionary-term')
              br
              input#edit-term-quick(type='text', name='edit-term-quick', disabled)
              br
              input#edit-term-id(type='text', name='edit-term-id', disabled)
              br
              label(for='edit-term-synonyms') Edit Term Synonyms
              br
              input#edit-term-synonyms(type='text', name='edit-term-synonyms')
              br
              label(for='edit-term-related') Edit Related Terms
              br
              input#edit-term-related(type='text', name='edit-term-related')
            .form-textarea-input
              label(for='edit-term-def') Edit Term Definition
              br
              textarea#edit-term-def(type='text', name='edit-term-def')
              br
              span.edit-term-submit Submit
              span.edit-term-cancel Cancel
